body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.songArtist {
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: bolder;
  font-size: 20px;
  border: 1px solid;
  color: white;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  
}

.searchBtn {
  cursor: pointer;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: bolder;
  font-size: 25px;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  color: white;
  background-size: 150% 100%;
  transition: all .4s ease-in-out;
}

.searchBtn:hover {
  background-position: 100% 50%;
  transition: all .4s ease-in-out;
}

.userInput {
  padding: 2px;
  margin: 0px;
  text-align: center;
  font-size: 1em;
}

.userInputLanding {
  padding: 2px;
  margin: 0px;
  text-align: center;
  font-size: 1em;
  position: relative;
  top: -108px;

}

.main {
  max-width: 640px;
  margin: auto;
  text-align: center;
}

.img {
  width: 100%;
  max-width: 640px;
  height: 100%;
}

