body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div {
  text-align: center;
  margin: 25px

}


.nowplaying {
  padding: 5px;
  font-weight: bolder;
  font-size: 35px;
}


.nowPlayingBtn {
  padding: 5px;
  font-weight: bolder;
  font-size: 25px;
  border: 2px solid;
  display: inline-block;
}



input {
  display: block;
  width: 500px
}